<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1084947119847-7ue06ve5h0lhsv38tl2qjgehi9h69irb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084947119847-7ue06ve5h0lhsv38tl2qjgehi9h69irb</string>
	<key>API_KEY</key>
	<string>AIzaSyBUxp6g2cBd_BTYFuv0eF9JBhYYNacqFAU</string>
	<key>GCM_SENDER_ID</key>
	<string>1084947119847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sodep.ios-starter-kit</string>
	<key>PROJECT_ID</key>
	<string>ios-starter-kit</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-starter-kit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084947119847:ios:f2b955d95bb5c1d3</string>
	<key>DATABASE_URL</key>
	<string>https://ios-starter-kit.firebaseio.com</string>
</dict>
</plist>